<!--Created by Tejas on 10/24/2015.-->
<div ng-controller="customersController">
    <div class="row">
        <div class="col-md-12">

            <!--Search for Customer-->
            <h2>Search Customers</h2>

            <form name="search" class="form">
                <div class="form-group">
                    <input type="text" name="filter" class="form-control" placeholder="Enter Keyword"
                           ng-model="customer_name">
                </div>
            </form>

            <!--List of all Customers in the Database with Delete and Edit functionality-->
            <h2>List of Customers</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th data-field="customer">Customer Name</th>
                    <th data-field="street">Street</th>
                    <th data-field="city">City</th>
                    <th data-field="state">State</th>
                    <th data-field="zipcode">Zipcode</th>
                    <th data-field="created_at">Date</th>
                    <th class="right" data-field="delete">Delete</th>
                    <th class="right" data-field="edit">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='customer in customers | filter:customer_name | orderBy: created_date'>
                    <td ng-bind='customer.name'></td>
                    <td ng-bind='customer.address.street'></td>
                    <td ng-bind='customer.address.city'></td>
                    <td ng-bind='customer.address.state'></td>
                    <td ng-bind='customer.address.zipcode'></td>
                    <td ng-bind='customer.created_at | date'></td>
                    <td class="right">
                        <form><input type="submit" value="Delete" class="btn btn-danger"
                                     ng-click="deleteCustomer(customer)"></form>
                    </td>
                    <td class="right">

                        <input type="submit" class="btn btn-success" ng-hide="editing" ng-click="editing = true"
                               value="Edit">

                        <div>
                            <form ng-show="editing" ng-submit="editing = false">
                                <label>Name:</label>
                                <input type="text" ng-model="customer.name" placeholder="Name" />
                                </br>
                                <label>Street:</label>
                                <input type="text" ng-model="customer.address.street" placeholder="Stret" />
                                </br>
                                <label>City:</label>
                                <input type="text" ng-model="customer.address.city" placeholder="City" />
                                </br>
                                <label>State:</label>
                                <input type="text" ng-model="customer.address.state" placeholder="State" />
                                </br>
                                <label>Zipcode:</label>
                                <input type="text" ng-model="customer.address.zipcode" placeholder="Zipcode" />
                                </br>



                                <input class="btn" type="submit" value="Save" ng-click="editCustomer(customer)">
                            </form>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>

            <!--To add a new Customer-->
            <h2>Add a New Customer</h2>

            <form class="form">
                <label>Username:</label>
                <input type="text" ng-model="user.username" class="form-control" placeholder="Username" ng-required/>
                </br>
                <label>Password:</label>
                <input type="password" ng-model="user.password" class="form-control" placeholder="Password" ng-required/>
                </br>
                <label>First Name:</label>
                <input type="text" ng-model="user.name" class="form-control" placeholder="Firstname" ng-required/>
                </br>
                <!--<label>Last Name:</label>
                <input type="text" ng-model="user.lastname" class="form-control" placeholder="Lastname" ng-required/>
                </br>
                -->
                <label>Street:</label>
                <input type="text" ng-model="user.address.street" class="form-control" placeholder="Street" ng-required/>
                </br>
                <label>City:</label>
                <input type="text" ng-model="user.address.city" class="form-control" placeholder="City" ng-required/>
                </br>
                <label>State:</label>
                <input type="text" ng-model="user.address.state" class="form-control" placeholder="State" ng-required/>
                </br>
                <label>Zip Code:</label>
                <input type="text" ng-model="user.address.zipcode" class="form-control" placeholder="Zip Code" ng-required/>
                </br>
                <label><input type="checkbox" value="" ng-model="user.admin">Admin</label>
                </br>
                <input class="btn" type="submit" value="Register" ng-click="addCustomer(user)">
            </form>
        </div>
    </div>
</div>